---
version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
- package-ecosystem: composer
  directory: "/wp-content/themes/theme"
  schedule:
    interval: daily
  open-pull-requests-limit: 0
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 0
- package-ecosystem: npm
  directory: "/wp-content/themes/theme"
  schedule:
    interval: daily
  open-pull-requests-limit: 0
