## Dependencies
node_modules/
vendor/

## WordPress media
/wp-content/uploads

## macOS
.DS_Store

## IDEs
.idea

## Other node package managers
package-lock.json

## Build artifacts
.php_cs.cache
.sass-cache/
*.bak*

## Whippet dependencies
/wp-content/plugins/akismet
/wp-content/plugins/advanced-custom-fields-pro
