name: Shellcheck

on: push

jobs:
  shellcheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4.1.4
      - run: sudo apt-get update
      - run: sudo apt-get install -y shellcheck
      - run: ./.shellcheck.sh
