name: Shellcheck

on: push

jobs:
  shellcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update
      - run: sudo apt-get install -y shellcheck
      - run: ./.shellcheck.sh
